{% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
    <div class="date">
        {{ comment.created_date }}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}
    </div>
    <strong>{{ comment.author|capfirst }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}?parent_comment={{comment.pk}}">Reply</a>

    <div class="replies">
    {% for reply in comment.replies.all %}
        {% with comment=reply template_name="blog/comment.html" %}
           {% include template_name %}
        {% endwith %}
    {% endfor %}

    </div>
</div>
{% endif %}
